#ProfilePicture {
  max-width: 163px;
  width:100%;
}

#ShortPersonalDescription {
	color: gray;
}

.SocialNetworkIcon {
  max-width: 40px;
/*  width:100%;*/
}

.Experience {
	margin-bottom: 0px;
}
.ExperienceDescription {
	font-size: .8rem;
	color: gray;
	font-style: italic;
}

.SkillDescription {
	font-size: .8rem;
	color: gray;
}




/*
#DownloadCV {
	margin-top: 20px;
	margin-bottom: 20px;
	
	border: 3px solid black;
	border-radius: 20px;
	
	padding: 5px;
	
	text-align: center;
}
*/


/*
#SummaryCard {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 5px;
	margin-left: 5px;

	border: 3px solid red;
	border-radius: 20px;
	
	padding: 5px;
}
*/

/*
#ProfilePicture {
    width: 100%;
    background-color: white;
        
    border-style: solid;
    border-color: black;
    border-width: thin;
    border-radius: 50%;
    
    float: left;
}
*/

/*
#ShortPersonalDescription {
	font-size: .8rem
}
*/

/*
#SocialNetworksIconsContainer {
	
}
*/

/*
.SocialNetworkIcon {
	width= 100%;
	background-color: white;
	
	margin: 2%;
	border: 1px solid black;
    border-radius: 40%;
}*/